h1 {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 0, 225);
 
}

.chart-container {
  width: 100%;
  height: 400px; /* Ajustez la hauteur selon vos besoins */
  display: flex;
  justify-content: center;
  align-items: center;
}






